.git
.github
.next
node_modules
server-nest/node_modules
server-nest/dist
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.env
.env.*
!.env.example
server-nest/.env
server-nest/.env.*
dist
tmp
temp
